# Meta Marketing API credentials
# https://developers.facebook.com/docs/marketing-apis/get-started
META_APP_ID=
META_APP_SECRET=
META_ACCESS_TOKEN=
META_AD_ACCOUNT_ID=act_XXXXXXXXXX

# Optional: notification channels for alerts
SLACK_WEBHOOK_URL=
ALERT_EMAIL_TO=
